{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>
	<title>Karst Geology Viewer</title>

	<link rel='icon' type='image/x-icon' href="{% static 'favicon.ico' %}">
	<link rel='stylesheet' href="{% static 'frontend/bundle.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
	{{ SVELTE_PROPS|json_script:'svelteprops' }}
	<script defer src="{% static 'frontend/bundle.js' %}"></script>
</body>
</html>