html body {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.container-fluid {
    position:relative;
    z-index: 50000;
}

.header-row {
    background-color: #85BF6F;
    border-radius: 0;
    border: 0;
    box-shadow: 0px 0px 10px 2px #003300;
    color: #003300;
}

.header-row a {
    color:#003300;
    font-weight:900;
}

.login-panel {
    background-color: #85BF6F;
    box-shadow: 0px 0px 10px 2px #003300;
}

.login-panel-content {
    padding: 20px 5px;
}

.leaflet-container {
    height:100%;
    width:100%;
    position:fixed;
    top:0px;
    z-index:0;
    cursor:default;
}

.leaflet-top {
    top: 40px;
}

select.POSSIBLE, option[value="POSSIBLE"] {
    color: white;
    background:black
}

.input-form-panel {
    z-index: 2147483646 !important;
    height: 100vh;
    top:0;
    background-color:#ffe78f;
    position:absolute;
    box-shadow: 0px 0px 10px 2px #182F4C;
    width: 300px;
    display:none;
    overflow-y:auto;
}

.input-form-panel a {
    color:#5d522b;
    font-weight:900;
}

.leaflet-far-right {
    right: 300px;
}

.layer-control-panel {
    z-index: 2147483646 !important;
    height: 100vh;
    top:0;
    right:0;
    background-color:#96BEF1;
    position:absolute;
    box-shadow: 0px 0px 10px 2px #182F4C;
    width: 300px;
    display:none;
    overflow-y:auto;
}

.layer-control-panel h5 {
    padding-left:6px;
    margin-bottom:4px;
}

.layer-control-panel a {
    color:#182F4C;
    font-weight:900;
}

.layer-column {
    padding-left: 6px;
}

.layer-extra-icons {
    display: inline;
}

.layer-extra-icons i {
    cursor: pointer;
}

.layer-label {
  font-size: 1.2em;
  display: inline;
}

.layer-group-header {
  padding-left: 6px;
  margin-bottom: 4px;
  margin-top: 8px;
}

.layer-group {
  padding: 7px;
}

.legend-panel {
    z-index: 2147483646 !important;
    bottom:0;
    right:290px;
    background-color:#96BEF1;
    position:absolute;
    box-shadow: 0px 0px 10px 2px #182F4C;
    width: 220px;
    display:none;
    overflow-y:auto;
}

.legend-panel a {
    color:#182F4C;
    font-weight:900;
}

.shorten-panel {
    height: calc(100vh - 60px);
}

.example-bottom-panel {
    z-index: 2147483647 !important;
    bottom:0;
    background-color:#ff9f8f;
    position:absolute;
    box-shadow: 0px 0px 10px 2px #182F4C;
    width: 100%;
    display:none;
    overflow-y:auto;
    height: 60px;
}

.example-bottom-panel a {
    color:#540000;
    font-weight:900;
}

.form-msg {
    color: #5d522b;
}

.sink-update-header {
    background-color:#ccc7b5;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    padding:1px;
}

.sink-update-header h5 {
    font-weight:bold;
}

.sink-update-content {
    padding-top:10px;
    padding-bottom: 10px;
}

.numbers {
    font-family: courier;
}

.sink-update-section {
    background-color: #f3edd6;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px grey;
}

#panel-content {
    margin-left: -6px;
    margin-right: -6px;

}

#panel-content input {
    display: inline;
}

#panel-content label {
    display: inline;
}

#panel-content select {
    display: inline;
    width: 100%;
}
#panel-content textarea {
    max-width: 100%;
    min-width: 100%;
    height: 50px;
    min-height: 50px;
}

.horizontal-rule {
    border-bottom: 1px solid #ccc7b5;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-sub-label {
    font-weight: 400;
    font-size: .9em;
}

button[disabled], html input[disabled] {
    cursor:not-allowed;
}

.leaflet-popup {
}

.leaflet-popup-content-wrapper {
}

.leaflet-control-layers {
    width:100%;
    background: unset;
    box-shadow: unset;
}

.leaflet-control-layers-separator {
    border-top: none;
    height: unset;
    font-weight:bold;
    margin:unset;
}

.leaflet-control-minimap {
    position: relative;
}

.leaflet-control-layers-overlays {
}

.latlong-popup .leaflet-popup-content-wrapper {
    border-radius:5px;
}

.latlong-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
    margin:10px 20px 10px 10px;
    font-family:'Lato',sans-serif
}

/* set bluimp gallery on top of fullscreen */
.blueimp-gallery {
    z-index: 2147483647 !important;
}

.map-icon {
    height: unset !important;
    width: unset !important;
    color: red;
    font-weight: 900;
    margin-top: -10px !important;
    margin-left: 8px !important;
}

.map-icon i {
    cursor: default;
}

ul.dashed {
    list-style: none;
    padding-left: 25;
    color: black;
}

ul.dashed > li {
    margin-left: 15px;
}

/* Prevent nested li's from getting messed up */
ul.dashed > li::before {
    content: "-- ";
    margin-left: -15px;
}
